<article class="g-offerTile">
  <header class="g-offerTile__headers">
    <h2> Software development </h2>
    <h5> Never could be easier for you </h5>
  </header>

  <section class="g-offerTile__description">
    We can write for you code! Our work are specified by:
    <ul>
      <li>
        hight code quality, always up-to-date
      </li>
      <li>
        short deadlines
      </li>
      <li>
        clear continous delivery process
      </li>
    </ul>
    
    You can either rent us to create a whole project (from projecting phase to host application in the Internet) or rent specific programmer to your company team.
  </section>

</article>
