<article class="g-offerTile">
  <header class="g-offerTile__headers">
    <h2> Consulting </h2>
    <h5> how to do things properly </h5>
  </header>

  <section class="g-offerTile__description">
    Donno how to deal with your project, get all the things on tracks? We can handle it for ya. Just contact with us and we will help you
    <ul>
      <li>
        develop your project correctly with good practices
      </li>
      <li>
        keep things up-to-date
      </li>
      <li>
        find out how to solve design / architectural problems
      </li>
    </ul>
  </section>
</article>
