@import '../../assets/styles/index.styl'

.technologiesBox {
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 10px 0 3px 0
  padding: 0

  list-style-type: none

  & li {
    display: flex
    align-items: center
    height: 16px
    padding: 3px 5px
    margin: 3px 4px

    border-radius: 2px
    font-size: 14px
    background-color: colorOfDecorations  
  }
}