@import '../../../assets/styles/index.styl'

.productGet {
  display: flex
  flex-direction: column
  position: relative
  flex-wrap: nowrap
  margin-top: 30px
  padding: 40px

  background-color: shadow4

  @media (max-width: 650px) {
    flex-direction: column
    padding: 20px
  }

  &__title {
    display: flex
    flex-direction: column 
    margin-bottom: 15px

    txt(20px, 0, 600, none, inherit)
  }

  &__description {
    display: flex
    margin-bottom: 20px
  
    txt(16px, 0, 400, none, inherit)
  }
}
