@import '../../../assets/styles/index.styl'

.getButton {
  display: flex
  flex-direction: column
  align-items: center
  
  &__item {
    max-width: 300px
    padding: 5px 15px

    border: 2px solid transparent
    border-radius: 2px
    background-color: colorOfDecorations1
    txt(20px, 1px, 700, uppercase, inherit)
    transition: 200ms ease-in-out
    cursor: pointer
    color: colorOfDecorations !important

    &:hover {
      background-color: transparent
      border: 2px solid colorOfDecorations
    }
  }
}