<article class="aboutCompany">
  <header class="aboutCompany__headers">
    <h2> Better than yesterday </h2>
  </header>
  <section class="aboutCompany__desc">
    <div class="sectionParagraph">
      <div class="sectionParagraph__image sectionParagraph__image--rotate20">
        <img src="./app/assets/media/logo-128x128.png" />
      </div>
      <div class="sectionParagraph__desc">
        <h4> Goals </h4>
        <p>
          Each day we create a brand new solutions adapted to the modern world using the latest achievements of Tech World.  <b>The quality of the code is most important</b> to us. We, also emphasize the importance of <b>reusable and easy to maintain</b> applications. 
        </p>
      </div>
    </div>

    <div class="sectionParagraph sectionParagraph--reverse">
      <div class="sectionParagraph__desc">
        <h4> Agile & product driven </h4>
        <p>
          <b>Strong communication, open minds, transparency</b> and continous development process. These words perfectly describe our company. Indoor discussions over a whole company, project documentation and kanban boards help everyone stay on the same page. <b>Sprints and contionus integration and development cycles</b> reminds us to keep stable project at the hightest level of quality.
        </p>
      </div>
      <div class="sectionParagraph__image sectionParagraph__image--rotate3">
        <img src="./app/assets/media/todo-list-128x128.png" />
      </div>
    </div>
  </section>
</article>
