<article class="aboutCompany">
  <header class="aboutCompany__headers">
    <h2> Creating the future </h2>
  </header>
  <section class="aboutCompany__desc">
    <div class="sectionParagraph">
      <div class="sectionParagraph__image sectionParagraph__image--rotate20">
        <img src="./app/assets/media/logo-128x128.png" />
      </div>
      <div class="sectionParagraph__desc">
        <h4> Goal </h4>
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit metus non mi accumsan, vitae mollis tortor egestas. Phasellus quis diam nisi. Sed et bibendum mi. Sed viverra arcu eget interdum dignissim. Nulla tincidunt dapibus ipsum in feugiat. Aenean sed mattis sapien. Proin nec quam non erat aliquet tristique quis lobortis nunc. Etiam sollicitudin id arcu ut luctus. Nam mattis nulla id maximus sollicitudin.
        </p>
      </div>
    </div>

    <div class="sectionParagraph">
      <div class="sectionParagraph__desc">
        <h4> Agile & product driven </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit metus non mi accumsan, vitae mollis tortor egestas. Phasellus quis diam nisi. Sed et bibendum mi. Sed viverra arcu eget interdum dignissim. Nulla tincidunt dapibus ipsum in feugiat. Aenean sed mattis sapien. Proin nec quam non erat aliquet tristique quis lobortis nunc. Etiam sollicitudin id arcu ut luctus. Nam mattis nulla id maximus sollicitudin.
        </p>
      </div>
      <div class="sectionParagraph__image">
        <img src="./app/assets/media/logo-128x128.png" />
      </div>
    </div>
  </section>
</article>
