<article class="team">
  <header class="team__headers">
    <h2> Team </h2>
    <h5> meet us </h5>
  </header>
  <section class="team__description">
    <p>
      Our team contains a main programmer and CEO of Poyters Company - <a routerLink="/portfolio">Rafał Gabriel Kostecki</a> and friendly, independent programmers or tech-related persons, like <a href="https://marekchoinski.com/" target="_blank">Marek Choiński</a>
    </p>
    <p> Each team member has <b>excellent knowledge</b> in their field. We all follow the latest trends and learn from each other. </p>
  </section>
</article>
